body {
    background-color: #F8EEE7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h3.department{
    text-align:center;
    margin-top:5px;
    margin-bottom:5px;
}
nav.navbar.navbar-default {
    /*background-color: #4e2020;*/
    background-color:#FF533D;
    margin-bottom:0px;
}

.row-content{
    margin-top:30px;
    margin-right:0px;
}

.logo{
    text-align:center;
    margin:auto;
    display:block;
}

li{
    font-family:monospace;
}

.row-content ul li a{
    padding:5px;
    font-size:18px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.info-class{
    margin-left:20px;
}

hr {
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    border: 0;
    border: 1px solid grey;
    margin-top:5px;
    margin-bottom:5px;
}

h2{
    color:#C50e18;
    font-size:2em;
}

/*styling the left hand menu*/    
.sidebarul{
    background-color: #e3d6b6 !important;
    padding-bottom: 100px !important;
    border-radius: 5px !important;
    border: 1px solid grey;

}

.sidebarul li a{
    color:black;
}

.link-webpage{
    color:black;
}

.second-content{
    margin-top:40px !important;
}
    



